# Para Configuration
NEXT_PUBLIC_PARA_API_KEY=
NEXT_PUBLIC_PARA_ENVIRONMENT=BETA

# ZeroDev Configuration
NEXT_PUBLIC_ZERODEV_PROJECT_ID=

# WalletConnect Configuration (optional)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
