@import '../../themes/capsule.globals';

:host {
  display: block;
}

:host p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;

  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  &::-moz-selection {
    /* Code for Firefox */
    color: var(--cpsl-color-text-inverted) !important;
    background: var(--cpsl-color-background-64) !important;
  }

  &::selection {
    color: var(--cpsl-color-text-inverted) !important;
    background: var(--cpsl-color-background-64) !important;
  }

  &.primary {
    color: var(--cpsl-color-text-primary);
  }

  &.secondary {
    color: var(--cpsl-color-text-secondary);
  }

  &.tertiary {
    color: var(--cpsl-color-text-tertiary);
  }

  &.subtle {
    color: var(--cpsl-color-text-subtle);
  }

  &.inverted {
    color: var(--cpsl-color-text-inverted);
  }

  &.error {
    color: var(--cpsl-color-text-error);
  }

  &.contrast {
    color: var(--cpsl-color-text-contrast);
  }

  &.medium {
    font-weight: 500;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }

  &.body-2xs {
    font-size: var(--cpsl-font-size-body-2xs);
  }

  &.body-xs {
    font-size: var(--cpsl-font-size-body-xs);
  }

  &.body-s {
    font-size: var(--cpsl-font-size-body-s);
    line-height: 142.857%;
  }

  &.body-m {
    font-size: var(--cpsl-font-size-body-m);
    line-height: 150%;
  }

  &.body-l {
    font-size: var(--cpsl-font-size-body-l);
    line-height: 140%;
  }

  &.body-xl {
    font-size: var(--cpsl-font-size-body-xl);
  }

  &.heading-xs {
    font-size: var(--cpsl-font-size-heading-xs);
  }

  &.heading-s {
    font-size: var(--cpsl-font-size-heading-s);
  }

  &.heading-m {
    font-size: var(--cpsl-font-size-heading-m);
    letter-spacing: -0.4px;
  }

  &.heading-l {
    font-size: var(--cpsl-font-size-heading-l);
    letter-spacing: -1.12px;
  }

  &.heading-xl {
    font-size: var(--cpsl-font-size-heading-xl);
    letter-spacing: -1.28px;
  }

  &.heading-2xl {
    font-size: var(--cpsl-font-size-heading-2xl);
    letter-spacing: -1.44px;
  }
}
