
PARA_API_KEY_BETA=your_api_key_here
PARA_API_KEY_BASIC_LOGIN_BETA=your_api_key_here
PARA_ENVIRONMENT=BETA
VITE_PARA_API_KEY=your_api_key_here
VITE_PARA_API_KEY_BASIC_LOGIN=your_api_key_here
VITE_PARA_ENVIRONMENT=BETA
NEXT_PUBLIC_PARA_API_KEY=your_api_key_here
NEXT_PUBLIC_PARA_API_KEY_BASIC_LOGIN=your_api_key_here
NEXT_PUBLIC_PARA_ENVIRONMENT=BETA
VITE_WALLET_CONNECT_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_project_id_here
NODE_OPTIONS="--max-old-space-size=4096"
PARA_API_KEY=your_api_key_here
ENCRYPTION_KEY=your_encryption_key_here
ALCHEMY_API_KEY=your_alchemy_api_key_here
ALCHEMY_GAS_POLICY_ID=your_alchemy_gas_policy_id_here
ALCHEMY_RPC_URL=your_alchemy_rpc_url_here
ZERODEV_PROJECT_ID=your_zerodev_project_id_here
ZERODEV_BUNDLER_RPC=your_zerodev_bundler_rpc_here
ZERODEV_PAYMASTER_RPC=your_zerodev_paymaster_rpc_here
ZERODEV_SECRET_KEY=your_zerodev_secret_key_here
ZERODEV_ARBITRUM_SEPOLIA_RPC=your_zerodev_arbitrum_sepolia_rpc_here