**/node_modules
main.wasm
yarn-error.log
**/dist
build
.DS_Store
mpcWorker-bundle.js
mpcWorkerServer-bundle.js
.vscode/*
.vscode
*.wasm
.nx/cache
.eslintcache
.yarn
.yarnrc
**/.env
**/.env.development
**/.env.production
.nx
lerna-debug.log

www/
loader/
core-components/css/
.stencil/
*storybook.log
coverage/
