{
  "branches": ["main"],
  "repositoryUrl": "git@github.com:capsule-org/web-sdk.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer"
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "linkReferences": false
      }
    ],
    [
      "@semantic-release/npm"
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
