@import 'tailwindcss' prefix(para);
@plugin 'tailwindcss-animate';

@import './theme.css';

@custom-variant dark (&:is(.dark *));

:root {
  --para-color-shadowstone-50: oklch(97.09% 0.0011 17.18);
  --para-color-shadowstone-100: oklch(92.62% 0.0026 48.72);
  --para-color-shadowstone-200: oklch(85.74% 0.0046 34.31);
  --para-color-shadowstone-300: oklch(75.73% 0.0071 53.41);
  --para-color-shadowstone-400: oklch(62.59% 0.0114 48.53);
  --para-color-shadowstone-500: oklch(53.61% 0.0117 58.06);
  --para-color-shadowstone-600: oklch(47.91% 0.01 56.14);
  --para-color-shadowstone-700: oklch(43.01% 0.0084 67.6);
  --para-color-shadowstone-800: oklch(38.99% 0.0064 48.55);
  --para-color-shadowstone-900: oklch(35.85% 0.0054 56.23);
  --para-color-shadowstone-950: oklch(19.65% 0.0026 67.68);

  --para-color-magnetica-50: oklch(97.74% 0.0164 70.54);
  --para-color-magnetica-100: oklch(94.99% 0.0384 72.37);
  --para-color-magnetica-200: oklch(89.57% 0.0778 69.07);
  --para-color-magnetica-300: oklch(82.86% 0.1237 63.91);
  --para-color-magnetica-400: oklch(74.91% 0.1706 52.71);
  --para-color-magnetica-500: oklch(69.85% 0.202 43.61);
  --para-color-magnetica-600: oklch(66.86% 0.223 37.2);
  --para-color-magnetica-700: oklch(55.88% 0.1932 35.39);
  --para-color-magnetica-800: oklch(47.16% 0.1591 34.64);
  --para-color-magnetica-900: oklch(40.95% 0.1309 35.51);
  --para-color-magnetica-950: oklch(26.58% 0.0852 34.7);

  --para-color-mist-50: oklch(98.39% 0.0042 56.38);
  --para-color-mist-100: oklch(93.83% 0.0169 56.18);
  --para-color-mist-200: oklch(87.06% 0.0331 52.29);
  --para-color-mist-300: oklch(78.5% 0.0569 49.72);
  --para-color-mist-400: oklch(68.61% 0.0845 42.8);
  --para-color-mist-500: oklch(61.74% 0.1055 39.36);
  --para-color-mist-600: oklch(56.43% 0.1112 33.52);
  --para-color-mist-700: oklch(49.07% 0.0983 30.16);
  --para-color-mist-800: oklch(42.88% 0.0795 27.26);
  --para-color-mist-900: oklch(37.78% 0.063 27.46);
  --para-color-mist-950: oklch(24.93% 0.042 25.18);

  --para-color-sundrop-50: oklch(96.9% 0.031 104);
  --para-color-sundrop-100: oklch(94.9% 0.068 101);
  --para-color-sundrop-200: oklch(90.9% 0.127 97);
  --para-color-sundrop-300: oklch(84.5% 0.174 90);
  --para-color-sundrop-400: oklch(78.2% 0.185 81);
  --para-color-sundrop-500: oklch(70.3% 0.209 74);
  --para-color-sundrop-600: oklch(60.3% 0.198 70);
  --para-color-sundrop-700: oklch(48.9% 0.177 58);
  --para-color-sundrop-800: oklch(39.3% 0.15 50);
  --para-color-sundrop-900: oklch(32.6% 0.124 46);
  --para-color-sundrop-950: oklch(16.3% 0.096 32);

  --para-color-periwave-50: oklch(94.6% 0.032 264);
  --para-color-periwave-100: oklch(90.2% 0.06 263);
  --para-color-periwave-200: oklch(84.1% 0.112 261);
  --para-color-periwave-300: oklch(74.4% 0.182 259);
  --para-color-periwave-400: oklch(64.7% 0.234 258);
  --para-color-periwave-500: oklch(57.2% 0.258 258);
  --para-color-periwave-600: oklch(51.4% 0.256 257);
  --para-color-periwave-700: oklch(45.4% 0.237 259);
  --para-color-periwave-800: oklch(36.6% 0.206 261);
  --para-color-periwave-900: oklch(30% 0.178 261);
  --para-color-periwave-950: oklch(19.2% 0.131 260);

  --para-color-background: oklch(1 0 0);
  --para-color-foreground: var(--para-color-shadowstone-950);
  --para-color-card: oklch(1 0 0);
  --para-color-card-foreground: var(--para-color-shadowstone-950);
  --para-color-popover: oklch(1 0 0);
  --para-color-popover-foreground: var(--para-color-shadowstone-950);
  --para-color-primary: var(--para-color-magnetica-600);
  --para-color-primary-foreground: var(--para-color-shadowstone-50);
  --para-color-secondary: var(--para-color-shadowstone-100);
  --para-color-secondary-foreground: var(--para-color-shadowstone-900);
  --para-color-muted: var(--para-color-mist-50);
  --para-color-muted-foreground: var(--para-color-shadowstone-500);
  --para-color-accent: var(--para-color-magnetica-100);
  --para-color-accent-foreground: var(--para-color-shadowstone-900);
  --para-color-destructive: oklch(0.577 0.245 27.325);
  --para-color-destructive-foreground: oklch(0.577 0.245 27.325);
  --para-color-border: var(--para-color-shadowstone-100);
  --para-color-input: var(--para-color-shadowstone-200);
  --para-color-ring: var(--para-color-shadowstone-900);
  --para-color-chart-1: oklch(0.646 0.222 41.116);
  --para-color-chart-2: oklch(0.6 0.118 184.704);
  --para-color-chart-3: oklch(0.398 0.07 227.392);
  --para-color-chart-4: oklch(0.828 0.189 84.429);
  --para-color-chart-5: oklch(0.769 0.188 70.08);
  --para-radius: 0.5rem;
  --para-color-sidebar: oklch(1 0 0);
  --para-color-sidebar-foreground: var(--para-color-shadowstone-700);
  --para-color-sidebar-primary: var(--para-color-shadowstone-900);
  --para-color-sidebar-primary-foreground: var(--para-color-shadowstone-50);
  --para-color-sidebar-accent: var(--para-color-mist-50);
  --para-color-sidebar-accent-foreground: var(--para-color-shadowstone-950);
  --para-color-sidebar-border: var(--para-color-shadowstone-200);
  --para-color-sidebar-ring: var(--para-color-shadowstone-400);
}

.dark {
  --para-color-shadowstone-50: oklch(97.09% 0.0011 17.18);
  --para-color-shadowstone-100: oklch(92.62% 0.0026 48.72);
  --para-color-shadowstone-200: oklch(85.74% 0.0046 34.31);
  --para-color-shadowstone-300: oklch(75.73% 0.0071 53.41);
  --para-color-shadowstone-400: oklch(62.59% 0.0114 48.53);
  --para-color-shadowstone-500: oklch(53.61% 0.0117 58.06);
  --para-color-shadowstone-600: oklch(47.91% 0.01 56.14);
  --para-color-shadowstone-700: oklch(43.01% 0.0084 67.6);
  --para-color-shadowstone-800: oklch(38.99% 0.0064 48.55);
  --para-color-shadowstone-900: oklch(35.85% 0.0054 56.23);
  --para-color-shadowstone-950: oklch(19.65% 0.0026 67.68);

  --para-color-magnetica-50: oklch(97.74% 0.0164 70.54);
  --para-color-magnetica-100: oklch(94.99% 0.0384 72.37);
  --para-color-magnetica-200: oklch(89.57% 0.0778 69.07);
  --para-color-magnetica-300: oklch(82.86% 0.1237 63.91);
  --para-color-magnetica-400: oklch(74.91% 0.1706 52.71);
  --para-color-magnetica-500: oklch(69.85% 0.202 43.61);
  --para-color-magnetica-600: oklch(66.86% 0.223 37.2);
  --para-color-magnetica-700: oklch(55.88% 0.1932 35.39);
  --para-color-magnetica-800: oklch(47.16% 0.1591 34.64);
  --para-color-magnetica-900: oklch(40.95% 0.1309 35.51);
  --para-color-magnetica-950: oklch(26.58% 0.0852 34.7);

  --para-color-mist-50: oklch(98.39% 0.0042 56.38);
  --para-color-mist-100: oklch(93.83% 0.0169 56.18);
  --para-color-mist-200: oklch(87.06% 0.0331 52.29);
  --para-color-mist-300: oklch(78.5% 0.0569 49.72);
  --para-color-mist-400: oklch(68.61% 0.0845 42.8);
  --para-color-mist-500: oklch(61.74% 0.1055 39.36);
  --para-color-mist-600: oklch(56.43% 0.1112 33.52);
  --para-color-mist-700: oklch(49.07% 0.0983 30.16);
  --para-color-mist-800: oklch(42.88% 0.0795 27.26);
  --para-color-mist-900: oklch(37.78% 0.063 27.46);
  --para-color-mist-950: oklch(24.93% 0.042 25.18);

  --para-color-sundrop-50: oklch(96.9% 0.031 104);
  --para-color-sundrop-100: oklch(94.9% 0.068 101);
  --para-color-sundrop-200: oklch(90.9% 0.127 97);
  --para-color-sundrop-300: oklch(84.5% 0.174 90);
  --para-color-sundrop-400: oklch(78.2% 0.185 81);
  --para-color-sundrop-500: oklch(70.3% 0.209 74);
  --para-color-sundrop-600: oklch(60.3% 0.198 70);
  --para-color-sundrop-700: oklch(48.9% 0.177 58);
  --para-color-sundrop-800: oklch(39.3% 0.15 50);
  --para-color-sundrop-900: oklch(32.6% 0.124 46);
  --para-color-sundrop-950: oklch(16.3% 0.096 32);

  --para-color-periwave-50: oklch(94.6% 0.032 264);
  --para-color-periwave-100: oklch(90.2% 0.06 263);
  --para-color-periwave-200: oklch(84.1% 0.112 261);
  --para-color-periwave-300: oklch(74.4% 0.182 259);
  --para-color-periwave-400: oklch(64.7% 0.234 258);
  --para-color-periwave-500: oklch(57.2% 0.258 258);
  --para-color-periwave-600: oklch(51.4% 0.256 257);
  --para-color-periwave-700: oklch(45.4% 0.237 259);
  --para-color-periwave-800: oklch(36.6% 0.206 261);
  --para-color-periwave-900: oklch(30% 0.178 261);
  --para-color-periwave-950: oklch(19.2% 0.131 260);

  --para-color-background: var(--para-color-shadowstone-950);
  --para-color-foreground: var(--para-color-mist-50);
  --para-color-card: var(--para-color-shadowstone-950);
  --para-color-card-foreground: var(--para-color-shadowstone-50);
  --para-color-popover: var(--para-color-shadowstone-950);
  --para-color-popover-foreground: var(--para-color-shadowstone-950);
  --para-color-primary: var(--para-color-magnetica-600);
  --para-color-primary-foreground: var(--para-color-shadowstone-50);
  --para-color-secondary: var(--para-color-shadowstone-800);
  --para-color-secondary-foreground: var(--para-color-shadowstone-50);
  --para-color-muted: var(--para-color-shadowstone-800);
  --para-color-muted-foreground: var(--para-color-shadowstone-400);
  --para-color-accent: var(--para-color-magnetica-800);
  --para-color-accent-foreground: var(--para-color-shadowstone-50);
  --para-color-destructive: oklch(0.577 0.245 27.325);
  --para-color-destructive-foreground: oklch(0.577 0.245 27.325);
  --para-color-border: var(--para-color-shadowstone-900);
  --para-color-input: var(--para-color-shadowstone-800);
  --para-color-ring: var(--para-color-shadowstone-300);
  --para-color-chart-1: oklch(0.646 0.222 41.116);
  --para-color-chart-2: oklch(0.6 0.118 184.704);
  --para-color-chart-3: oklch(0.398 0.07 227.392);
  --para-color-chart-4: oklch(0.828 0.189 84.429);
  --para-color-chart-5: oklch(0.769 0.188 70.08);
  --para-color-radius: 0.5rem;
  --para-color-sidebar: var(--para-color-shadowstone-950);
  --para-color-sidebar-foreground: var(--para-color-shadowstone-100);
  --para-color-sidebar-primary: var(--para-color-shadowstone-50);
  --para-color-sidebar-primary-foreground: oklch(1 0 0);
  --para-color-sidebar-accent: var(--para-color-shadowstone-800);
  --para-color-sidebar-accent-foreground: var(--para-color-shadowstone-100);
  --para-color-sidebar-border: var(--para-color-shadowstone-800);
  --para-color-sidebar-ring: var(--para-color-shadowstone-300);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  a:not(:disabled),
  [role='a']:not(:disabled) {
    cursor: pointer;
  }
}
