@import 'tailwindcss' prefix(para);
@plugin 'tailwindcss-animate';

@import './theme.css';

@custom-variant dark (&:is(.dark *));

:root {
  --shadowstone-50: oklch(97.09% 0.0011 17.18);
  --shadowstone-100: oklch(92.62% 0.0026 48.72);
  --shadowstone-200: oklch(85.74% 0.0046 34.31);
  --shadowstone-300: oklch(75.73% 0.0071 53.41);
  --shadowstone-400: oklch(62.59% 0.0114 48.53);
  --shadowstone-500: oklch(53.61% 0.0117 58.06);
  --shadowstone-600: oklch(47.91% 0.01 56.14);
  --shadowstone-700: oklch(43.01% 0.0084 67.6);
  --shadowstone-800: oklch(38.99% 0.0064 48.55);
  --shadowstone-900: oklch(35.85% 0.0054 56.23);
  --shadowstone-950: oklch(19.65% 0.0026 67.68);

  --magnetica-50: oklch(97.74% 0.0164 70.54);
  --magnetica-100: oklch(94.99% 0.0384 72.37);
  --magnetica-200: oklch(89.57% 0.0778 69.07);
  --magnetica-300: oklch(82.86% 0.1237 63.91);
  --magnetica-400: oklch(74.91% 0.1706 52.71);
  --magnetica-500: oklch(69.85% 0.202 43.61);
  --magnetica-600: oklch(66.86% 0.223 37.2);
  --magnetica-700: oklch(55.88% 0.1932 35.39);
  --magnetica-800: oklch(47.16% 0.1591 34.64);
  --magnetica-900: oklch(40.95% 0.1309 35.51);
  --magnetica-950: oklch(26.58% 0.0852 34.7);

  --mist-50: oklch(98.39% 0.0042 56.38);
  --mist-100: oklch(93.83% 0.0169 56.18);
  --mist-200: oklch(87.06% 0.0331 52.29);
  --mist-300: oklch(78.5% 0.0569 49.72);
  --mist-400: oklch(68.61% 0.0845 42.8);
  --mist-500: oklch(61.74% 0.1055 39.36);
  --mist-600: oklch(56.43% 0.1112 33.52);
  --mist-700: oklch(49.07% 0.0983 30.16);
  --mist-800: oklch(42.88% 0.0795 27.26);
  --mist-900: oklch(37.78% 0.063 27.46);
  --mist-950: oklch(24.93% 0.042 25.18);

  --background: oklch(1 0 0);
  --foreground: var(--shadowstone-950);
  --card: oklch(1 0 0);
  --card-foreground: var(--shadowstone-950);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--shadowstone-950);
  --primary: var(--magnetica-600);
  --primary-foreground: var(--shadowstone-50);
  --secondary: var(--shadowstone-100);
  --secondary-foreground: var(--shadowstone-900);
  --muted: var(--mist-50);
  --muted-foreground: var(--shadowstone-500);
  --accent: var(--magnetica-100);
  --accent-foreground: var(--shadowstone-900);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--shadowstone-100);
  --input: var(--shadowstone-200);
  --ring: var(--shadowstone-900);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.5rem;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: var(--shadowstone-700);
  --sidebar-primary: var(--shadowstone-900);
  --sidebar-primary-foreground: var(--shadowstone-50);
  --sidebar-accent: var(--mist-50);
  --sidebar-accent-foreground: var(--shadowstone-950);
  --sidebar-border: var(--shadowstone-200);
  --sidebar-ring: var(--shadowstone-400);
}

.dark {
  --shadowstone-50: oklch(97.09% 0.0011 17.18);
  --shadowstone-100: oklch(92.62% 0.0026 48.72);
  --shadowstone-200: oklch(85.74% 0.0046 34.31);
  --shadowstone-300: oklch(75.73% 0.0071 53.41);
  --shadowstone-400: oklch(62.59% 0.0114 48.53);
  --shadowstone-500: oklch(53.61% 0.0117 58.06);
  --shadowstone-600: oklch(47.91% 0.01 56.14);
  --shadowstone-700: oklch(43.01% 0.0084 67.6);
  --shadowstone-800: oklch(38.99% 0.0064 48.55);
  --shadowstone-900: oklch(35.85% 0.0054 56.23);
  --shadowstone-950: oklch(19.65% 0.0026 67.68);

  --magnetica-50: oklch(97.74% 0.0164 70.54);
  --magnetica-100: oklch(94.99% 0.0384 72.37);
  --magnetica-200: oklch(89.57% 0.0778 69.07);
  --magnetica-300: oklch(82.86% 0.1237 63.91);
  --magnetica-400: oklch(74.91% 0.1706 52.71);
  --magnetica-500: oklch(69.85% 0.202 43.61);
  --magnetica-600: oklch(66.86% 0.223 37.2);
  --magnetica-700: oklch(55.88% 0.1932 35.39);
  --magnetica-800: oklch(47.16% 0.1591 34.64);
  --magnetica-900: oklch(40.95% 0.1309 35.51);
  --magnetica-950: oklch(26.58% 0.0852 34.7);

  --mist-50: oklch(98.39% 0.0042 56.38);
  --mist-100: oklch(93.83% 0.0169 56.18);
  --mist-200: oklch(87.06% 0.0331 52.29);
  --mist-300: oklch(78.5% 0.0569 49.72);
  --mist-400: oklch(68.61% 0.0845 42.8);
  --mist-500: oklch(61.74% 0.1055 39.36);
  --mist-600: oklch(56.43% 0.1112 33.52);
  --mist-700: oklch(49.07% 0.0983 30.16);
  --mist-800: oklch(42.88% 0.0795 27.26);
  --mist-900: oklch(37.78% 0.063 27.46);
  --mist-950: oklch(24.93% 0.042 25.18);

  --background: var(--shadowstone-950);
  --foreground: var(--mist-50);
  --card: var(--shadowstone-950);
  --card-foreground: var(--shadowstone-50);
  --popover: var(--shadowstone-950);
  --popover-foreground: var(--shadowstone-950);
  --primary: var(--magnetica-600);
  --primary-foreground: var(--shadowstone-50);
  --secondary: var(--shadowstone-800);
  --secondary-foreground: var(--shadowstone-50);
  --muted: var(--shadowstone-800);
  --muted-foreground: var(--shadowstone-400);
  --accent: var(--magnetica-800);
  --accent-foreground: var(--shadowstone-50);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--shadowstone-900);
  --input: var(--shadowstone-800);
  --ring: var(--shadowstone-300);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.5rem;
  --sidebar: var(--shadowstone-950);
  --sidebar-foreground: var(--shadowstone-100);
  --sidebar-primary: var(--shadowstone-50);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: var(--shadowstone-800);
  --sidebar-accent-foreground: var(--shadowstone-100);
  --sidebar-border: var(--shadowstone-800);
  --sidebar-ring: var(--shadowstone-300);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  a:not(:disabled),
  [role='a']:not(:disabled) {
    cursor: pointer;
  }
}
