@theme inline {
  --color-background: var(--para-color-background);
  --color-foreground: var(--para-color-foreground);
  --color-card: var(--para-color-card);
  --color-card-foreground: var(--para-color-card-foreground);
  --color-popover: var(--para-color-popover);
  --color-popover-foreground: var(--para-color-popover-foreground);
  --color-primary: var(--para-color-primary);
  --color-primary-foreground: var(--para-color-primary-foreground);
  --color-secondary: var(--para-color-secondary);
  --color-secondary-foreground: var(--para-color-secondary-foreground);
  --color-muted: var(--para-color-muted);
  --color-muted-foreground: var(--para-color-muted-foreground);
  --color-accent: var(--para-color-accent);
  --color-accent-foreground: var(--para-color-accent-foreground);
  --color-destructive: var(--para-color-destructive);
  --color-destructive-foreground: var(--para-color-destructive-foreground);
  --color-border: var(--para-color-border);
  --color-input: var(--para-color-input);
  --color-ring: var(--para-color-ring);
  --color-chart-1: var(--para-color-chart-1);
  --color-chart-2: var(--para-color-chart-2);
  --color-chart-3: var(--para-color-chart-3);
  --color-chart-4: var(--para-color-chart-4);
  --color-chart-5: var(--para-color-chart-5);
  --radius-sm: calc(var(--para-radius) - 4px);
  --radius-md: calc(var(--para-radius) - 2px);
  --radius-lg: var(--para-radius);
  --radius-xl: calc(var(--para-radius) + 4px);
  --color-sidebar: var(--para-color-sidebar);
  --color-sidebar-foreground: var(--para-color-sidebar-foreground);
  --color-sidebar-primary: var(--para-color-sidebar-primary);
  --color-sidebar-primary-foreground: var(--para-color-sidebar-primary-foreground);
  --color-sidebar-accent: var(--para-color-sidebar-accent);
  --color-sidebar-accent-foreground: var(--para-color-sidebar-accent-foreground);
  --color-sidebar-border: var(--para-color-sidebar-border);
  --color-sidebar-ring: var(--para-color-sidebar-ring);

  --color-shadowstone-50: var(--para-color-shadowstone-50);
  --color-shadowstone-100: var(--para-color-shadowstone-100);
  --color-shadowstone-200: var(--para-color-shadowstone-200);
  --color-shadowstone-300: var(--para-color-shadowstone-300);
  --color-shadowstone-400: var(--para-color-shadowstone-400);
  --color-shadowstone-500: var(--para-color-shadowstone-500);
  --color-shadowstone-600: var(--para-color-shadowstone-600);
  --color-shadowstone-700: var(--para-color-shadowstone-700);
  --color-shadowstone-800: var(--para-color-shadowstone-800);
  --color-shadowstone-900: var(--para-color-shadowstone-900);
  --color-shadowstone-950: var(--para-color-shadowstone-950);

  --color-magnetica-50: var(--para-color-magnetica-50);
  --color-magnetica-100: var(--para-color-magnetica-100);
  --color-magnetica-200: var(--para-color-magnetica-200);
  --color-magnetica-300: var(--para-color-magnetica-300);
  --color-magnetica-400: var(--para-color-magnetica-400);
  --color-magnetica-500: var(--para-color-magnetica-500);
  --color-magnetica-600: var(--para-color-magnetica-600);
  --color-magnetica-700: var(--para-color-magnetica-700);
  --color-magnetica-800: var(--para-color-magnetica-800);
  --color-magnetica-900: var(--para-color-magnetica-900);
  --color-magnetica-950: var(--para-color-magnetica-950);

  --color-mist-50: var(--para-color-mist-50);
  --color-mist-100: var(--para-color-mist-100);
  --color-mist-200: var(--para-color-mist-200);
  --color-mist-300: var(--para-color-mist-300);
  --color-mist-400: var(--para-color-mist-400);
  --color-mist-500: var(--para-color-mist-500);
  --color-mist-600: var(--para-color-mist-600);
  --color-mist-700: var(--para-color-mist-700);
  --color-mist-800: var(--para-color-mist-800);
  --color-mist-900: var(--para-color-mist-900);
  --color-mist-950: var(--para-color-mist-950);

  --color-sundrop-50: var(--para-color-sundrop-50);
  --color-sundrop-100: var(--para-color-sundrop-100);
  --color-sundrop-200: var(--para-color-sundrop-200);
  --color-sundrop-300: var(--para-color-sundrop-300);
  --color-sundrop-400: var(--para-color-sundrop-400);
  --color-sundrop-500: var(--para-color-sundrop-500);
  --color-sundrop-600: var(--para-color-sundrop-600);
  --color-sundrop-700: var(--para-color-sundrop-700);
  --color-sundrop-800: var(--para-color-sundrop-800);
  --color-sundrop-900: var(--para-color-sundrop-900);
  --color-sundrop-950: var(--para-color-sundrop-950);

  --color-periwave-50: var(--para-color-periwave-50);
  --color-periwave-100: var(--para-color-periwave-100);
  --color-periwave-200: var(--para-color-periwave-200);
  --color-periwave-300: var(--para-color-periwave-300);
  --color-periwave-400: var(--para-color-periwave-400);
  --color-periwave-500: var(--para-color-periwave-500);
  --color-periwave-600: var(--para-color-periwave-600);
  --color-periwave-700: var(--para-color-periwave-700);
  --color-periwave-800: var(--para-color-periwave-800);
  --color-periwave-900: var(--para-color-periwave-900);
  --color-periwave-950: var(--para-color-periwave-950);

  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / 0.625);
}
