@import url('@getpara/react-sdk/styles.css');
@import 'tailwindcss' prefix(para);
@import '@getpara/react-component-library/styles.css';
@import '@getpara/react-component-library/theme.css';

:root {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.routeTransition {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  height: calc(100% - 220px);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qrVideoMask {
  width: 100%;
  border-radius: 15px;
  overflow: hidden !important;
  position: relative;
}

.qrPlaceholder {
  border: 2px rgba(139, 139, 139, 0.4) dashed;
  width: 100%;
  border-radius: 15px;
  padding: 50px;
}

.qrIcon {
  opacity: 0.3;
}

.codeBlock code {
  flex: 1;
}

.codeBlock span {
  background-color: transparent !important;
  overflow: scroll;
}

.navLink {
  transition: ease-in-out 0.2s opacity;
}

.navLink:hover {
  opacity: 0.6;
}

select {
  background-color: rgba(139, 139, 139, 0.2);
  background-size: 15px 15px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 5px 30px 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  appearance: none;
  transition: 0.2s ease-in-out background-color;
  font-family: var(--nextui-fonts-sans);
  font-weight: var(--nextui-fontWeights-light);
  border: 1px solid rgba(139, 139, 139, 0.25);
}

select:hover {
  background-color: rgba(139, 139, 139, 0.35);
}

i {
  margin-top: -5px !important;
}

.custom-modal {
  --card-box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 4px 6px 0px rgba(34, 42, 53, 0.04), 0px 24px 68px 0px rgba(47, 48, 55, 0.05),
    0px 2px 3px 0px rgba(0, 0, 0, 0.04);
}

.custom-modal::part(modal-container) {
  overflow: visible;
}

.custom-modal::part(modal-body-card) {
  --card-border-width: 0px;
}

.custom-modal::part(modal-mobile-footer) {
  display: none;
}

.custom-modal::part(modal-footer) {
  display: none;
}

.break-anywhere {
  overflow-wrap: anywhere;
}
