@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+25&family=Open+Sans&family=Inter&family=Poppins&family=Merriweather&family=Space+Mono&family=Cormorant&family=Source+Sans+Pro&family=Source+Serif+Pro&family=Roboto&family=Rubik&display=swap');
@import 'tailwindcss' prefix(para);
@import '@getpara/react-component-library/styles.css';
@import '@getpara/react-component-library/theme.css';
@source "../../../packages/react-component-library/";

html,
body,
#root {
  height: 100%;
}

html {
  font-family: 'Inter', sans-serif;
  --cpsl-default-font: 'Inter', sans-serif;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}
