@import '@getpara/react-component-library/styles.css';
@import '@getpara/react-component-library/internal-styles.css';
@import 'tailwindcss';
@source "../../../packages/react-component-library/";

:root {
  font-family: 'Inter', sans-serif;

  background-color: var(--para-color-muted);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cpsl-default-font: 'Inter', sans-serif;

  --cpsl-color-background-0: #ffffff !important;
  --cpsl-color-background-4: #f8f7fb !important;
  --cpsl-color-background-8: #ebe8f2 !important;
  --cpsl-color-background-16: #d3cfde !important;
  --cpsl-color-background-32: #b1acbe !important;
  --cpsl-color-background-48: #9590a1 !important;
  --cpsl-color-background-64: #6c6977 !important;
  --cpsl-color-background-80: #423f4b !important;
  --cpsl-color-background-96: #18161e !important;

  --appbar-height: 57px;
  --appbar-height-mobile: 48px;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;

  div {
    box-sizing: border-box;
  }
}

#root {
  flex: 1;
  overflow: auto;
}

.Toastify__toast-container {
  z-index: 99999 !important;
}
