@import '../themes/capsule.globals.scss';

// Capsule Font Family
// --------------------------------------------------

html {
  --cpsl-default-font: 'Helvetica', sans-serif;
  --cpsl-default-dynamic-font: -apple-system-body;
  --cpsl-font-family: var(--cpsl-default-font);
}

div {
  box-sizing: border-box;
}

body.backdrop-no-scroll {
  overflow: hidden;
}

// Capsule Colors
// --------------------------------------------------
// Generates the default color vars

@mixin generate-color($color-name) {
  $value: map-get($colors, $color-name);

  --cpsl-color-#{$color-name}: #{$value};
}

// Capsule Border Radii
// --------------------------------------------------
// Generates the default border vars

@mixin generate-border-radius($border-radius-name) {
  $value: map-get($borderRadii, $border-radius-name);

  --cpsl-border-radius-#{$border-radius-name}: #{$value};
}

// Capsule Font Sizes
// --------------------------------------------------
// Generates the default font sizes

@mixin generate-font-size($font-size-name) {
  $value: map-get($fontSizes, $font-size-name);

  --cpsl-font-size-#{$font-size-name}: #{dynamic-font-clamp(0.8, $value, 1.5)};
}

:root {
  @each $color-name, $value in $colors {
    @include generate-color($color-name);
  }
  @each $border-radius-name, $value in $borderRadii {
    @include generate-border-radius($border-radius-name);
  }
  @each $font-size-name, $value in $fontSizes {
    @include generate-font-size($font-size-name);
  }
}

.cpsl-table {
  width: 100%;

  border-spacing: 0;
  border-collapse: separate;
  font-family: $font-family-base;

  & th {
    @include padding(var(--table-header-padding-top), var(--table-header-padding-end), var(--table-header-padding-bottom), var(--table-header-padding-start));

    background: var(--table-header-background-color);
    color: var(--cpsl-color-text-primary);
    font-weight: 500;
    font-size: var(--cpsl-font-size-body-xs);
    border-bottom: var(--table-header-border-width) solid var(--table-header-border-color);
  }

  & td {
    @include padding(var(--table-content-padding-top), var(--table-content-padding-end), var(--table-content-padding-bottom), var(--table-content-padding-start));
    color: var(--cpsl-color-text-primary);
    font-size: var(--cpsl-font-size-body-s);
    border-bottom: var(--table-content-border-width) solid var(--table-content-border-color);
  }

  & tr:last-child td {
    border-bottom: none;
  }

  &.sticky-header {
    & thead {
      position: sticky;
      top: 0;
    }
  }
}
