PARA_API_KEY=YOUR_PARA_API
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY

ALCHEMY_API_KEY=YOUR_ALCHEMY_API_KEY
ALCHEMY_GAS_POLICY_ID=YOUR_ALCHEMY_GAS_POLICY_ID
ALCHEMY_RPC_URL=YOUR_ALCHEMY_RPC_URL

ZERODEV_PROJECT_ID=YOUR_ZERODEV_PROJECT_ID
ZERODEV_BUNDLER_RPC=YOUR_ZERODEV_BUNDLER_RPC
ZERODEV_PAYMASTER_RPC=YOUR_ZERODEV_PAYMASTER_RPC
ZERODEV_SECRET_KEY=YOUR_ZERODEV_SECRET_KEY
ZERODEV_ARBITRUM_SEPOLIA_RPC=YOUR_ZERODEV_ARBITRUM_SEPOLIA_RPC

PORT=8000
