@import url('@usecapsule/react-components/css/capsule-core.css');

@font-face {
  font-family: 'Inter';
  src: url('../public/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

html {
  --cpsl-default-font: 'Inter', sans-serif;
}
