@font-face {
    font-family: 'ClashDisplay';
    src: url('./ClashDisplay-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Manrope';
    src: url('./Manrope-Medium.otf') format('opentype');
}