@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200;
  }

  html,
  body {
    @apply bg-white text-gray-900;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
}

/* Para modal z-index fix */
#para-modal > cpsl-auth-modal {
  z-index: 9999999999;
}
