@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Inter&family=Poppins&family=Merriweather&family=Space+Mono&family=Cormorant&family=Source+Sans+Pro&family=Source+Serif+Pro&family=Roboto&family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
