@import '../../themes/capsule.globals';
@import './cpsl-grid.mixins';

// Grid
// --------------------------------------------------

/// @prop - The padding for the grid
$grid-padding: var(--cpsl-grid-padding, 0px) !default;

/// @prop - The padding for the grid at different breakpoints
$grid-paddings: (
  xs: var(--cpsl-grid-padding-xs, $grid-padding),
  sm: var(--cpsl-grid-padding-sm, $grid-padding),
  md: var(--cpsl-grid-padding-md, $grid-padding),
  lg: var(--cpsl-grid-padding-lg, $grid-padding),
  xl: var(--cpsl-grid-padding-xl, $grid-padding),
) !default;

/// @prop - Width of the grid for different screen sizes when fixed is enabled
$grid-widths: (
  xs: var(--cpsl-grid-width-xs, var(--cpsl-grid-width, 100%)),
  sm: var(--cpsl-grid-width-sm, var(--cpsl-grid-width, 540px)),
  md: var(--cpsl-grid-width-md, var(--cpsl-grid-width, 720px)),
  lg: var(--cpsl-grid-width-lg, var(--cpsl-grid-width, 960px)),
  xl: var(--cpsl-grid-width-xl, var(--cpsl-grid-width, 1140px)),
) !default;
