@import url('@getpara/react-components/css/capsule-core.css');

@font-face {
  font-family: 'Inter';
  src: url('../public/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

html {
  --cpsl-default-font: 'Inter', sans-serif;
  -webkit-overflow-scrolling: touch;

  --wcm-z-index: 11000 !important;
}
