// Capsule Theme
// -------------------------------------------------------------------------------------------

$colors: (
  black: #000000,
  white: #ffffff,

  alpha-black-2: #00000005,
  alpha-black-4: #0000000a,
  alpha-black-8: #00000014,
  alpha-black-10: #0000001a,
  alpha-black-16: #00000029,
  alpha-black-24: #0000003d,
  alpha-black-25: #00000040,
  alpha-black-32: #00000052,
  alpha-black-48: #0000007a,
  alpha-black-50: #00000080,

  alpha-white-4: #ffffff0a,
  alpha-white-25: #ffffff40,

  background-0: rgba(255, 255, 255, 1),
  background-4: rgba(240, 240, 240, 1),
  background-8: rgba(235, 235, 235, 1),
  background-16: rgba(214, 214, 214, 1),
  background-32: rgba(173, 173, 173, 1),
  background-48: rgba(133, 133, 133, 1),
  background-64: rgba(92, 92, 92, 1),
  background-80: rgba(51, 51, 51, 1),
  background-96: rgba(10, 10, 10, 1),
  foreground-0: rgba(20, 20, 20, 1),
  foreground-4: rgba(31, 31, 31, 1),
  foreground-8: rgba(42, 42, 42, 1),
  foreground-16: rgba(60, 60, 60, 1),
  foreground-32: rgba(97, 97, 97, 1),
  foreground-48: rgba(134, 134, 134, 1),
  foreground-64: rgba(171, 171, 171, 1),
  foreground-80: rgba(209, 209, 209, 1),
  foreground-96: rgba(246, 246, 246, 1),
  contrast: rgba(0, 0, 0, 1),
  utility-red: rgba(240, 68, 56, 1),
  utility-red-light: rgba(251, 203, 199, 1),
  utility-yellow: rgba(251, 188, 4, 1),
  utility-yellow-light: rgba(254, 236, 185, 1),
  utility-green: rgba(52, 168, 83, 1),
  utility-green-light: rgba(198, 231, 207, 1),
  // TEXT
  text-primary: var(--cpsl-color-foreground-0),
  text-secondary: var(--cpsl-color-background-48),
  text-tertiary: var(--cpsl-color-foreground-32),
  text-subtle: var(--cpsl-color-background-64),
  text-inverted: var(--cpsl-color-foreground-96),
  text-disabled: var(--cpsl-color-foreground-48),
  text-error: var(--cpsl-color-utility-red),
  text-contrast: var(--cpsl-color-contrast),
  // MODAL
  modal-surface-main: var(--cpsl-color-background-0),
  modal-surface-footer: var(--cpsl-color-foreground-96),
  modal-border: var(--cpsl-color-background-8),
  // INPUT
  input-surface-disabled: var(--cpsl-color-background-8),
  input-surface-default: var(--cpsl-color-background-4),
  input-surface-hover: var(--cpsl-color-background-16),
  input-border-placeholder: var(--cpsl-color-background-4),
  input-border-active: var(--cpsl-color-accent-0, var(--cpsl-color-foreground-0)),
  input-border-error: var(--cpsl-color-utility-red),
  // SELECT
  select-surface-disabled: var(--cpsl-color-background-8),
  select-surface-default: var(--cpsl-color-background-4),
  select-surface-hover: var(--cpsl-color-background-0),
  select-border-placeholder: var(--cpsl-color-background-4),
  select-border-active: var(--cpsl-color-foreground-0),
  select-border-error: var(--cpsl-color-utility-red),
  select-dropdown-border: var(--cpsl-color-background-16),
  // FILE
  file-surface-disabled: var(--cpsl-color-background-8),
  file-surface-default: var(--cpsl-color-background-4),
  file-surface-drag: var(--cpsl-color-background-16),
  file-border-placeholder: var(--cpsl-color-background-4),
  file-border-error: var(--cpsl-color-utility-red),
  // TILE BUTTON
  tile-button-surface-default: var(--cpsl-color-background-8),
  tile-button-surface-hover: var(--cpsl-color-background-16),
  tile-button-surface-pressed: var(--cpsl-color-background-16),
  tile-button-border: var(--cpsl-color-background-8),
  // PRIMARY BUTTON
  primary-button-text: var(--cpsl-color-text-inverted),
  primary-button-surface-default: var(--cpsl-color-foreground-0),
  primary-button-surface-hover: var(--cpsl-color-foreground-16),
  primary-button-surface-pressed: var(--cpsl-color-foreground-16),
  primary-button-surface-disabled: var(--cpsl-color-background-16),
  primary-button-border-default: var(--cpsl-color-foreground-0),
  primary-button-border-disabled: var(--cpsl-color-background-16),
  primary-button-outline: var(--cpsl-color-foreground-32),
  // SECONDARY BUTTON
  secondary-button-text: var(--cpsl-color-text-primary),
  secondary-button-surface-default: var(--cpsl-color-background-0),
  secondary-button-surface-hover: var(--cpsl-color-background-16),
  secondary-button-surface-pressed: var(--cpsl-color-background-16),
  secondary-button-surface-disabled: var(--cpsl-color-foreground-96),
  secondary-button-border-default: var(--cpsl-color-background-32),
  secondary-button-border-disabled: var(--cpsl-color-foreground-96),
  secondary-button-outline: var(--cpsl-color-background-32),
  // TERTIARY BUTTON
  tertiary-button-text: var(--cpsl-color-background-96),
  tertiary-button-surface-default: var(--cpsl-color-background-8),
  tertiary-button-surface-hover: var(--cpsl-color-background-16),
  tertiary-button-surface-pressed: var(--cpsl-color-background-16),
  tertiary-button-surface-disabled: var(--cpsl-color-background-8),
  tertiary-button-border-default: var(--cpsl-color-background-8),
  tertiary-button-border-disabled: var(--cpsl-color-background-8),
  tertiary-button-outline: var(--cpsl-color-background-32),
  // DESTRUCTIVE BUTTON
  destructive-button-text: var(--cpsl-color-text-error),
  destructive-button-surface-default: transparent,
  destructive-button-surface-hover: var(--cpsl-color-utility-red-light),
  destructive-button-surface-pressed: var(--cpsl-color-utility-red-light),
  destructive-button-surface-disabled: var(--cpsl-color-foreground-96),
  destructive-button-border-default: var(--cpsl-color-utility-red),
  destructive-button-border-disabled: var(--cpsl-color-foreground-96),
  destructive-button-outline: var(--cpsl-color-background-32),
  // GHOST BUTTON
  ghost-button-default: var(--cpsl-color-text-secondary),
  ghost-button-disabled: var(--cpsl-color-text-secondary),
  ghost-button-hover: var(--cpsl-color-text-primary),
  // DIVIDER
  divider: var(--cpsl-color-background-32),
  // SPINNER
  spinner-path: var(--cpsl-color-background-32),
  spinner-circle: var(--cpsl-color-foreground-0),
  // PILL
  pill-text: var(--cpsl-color-text-secondary),
  pill-container-background: var(--cpsl-color-background-0),
  pill-container-border: var(--cpsl-color-background-8),
  // PROGRESS INDICATOR
  progressIndicator-active: var(--cpsl-color-foreground-0),
  progressIndicator-next: var(--cpsl-color-background-32),
  progressIndicator-previous: var(--cpsl-color-background-64),
  // QR CODE
  qr-fill: var(--cpsl-color-black),
  qr-background: var(--cpsl-color-white),
  qr-border: var(--cpsl-color-background-32),
  // SLIDE BUTTON
  slideButton-slider-container-start-background: var(--cpsl-color-background-0),
  slideButton-slider-container-end-background: var(--cpsl-color-foreground-0),
  slideButton-slider-container-start-border: var(--cpsl-color-background-32),
  slideButton-slider-container-end-border: var(--cpsl-color-foreground-32),
  slideButton-slider-border: var(--cpsl-color-foreground-32),
  slideButton-slider-background: var(--cpsl-color-foreground-0),
  slideButton-slider-text: var(--cpsl-color-text-inverted),
  slideButton-start-text: var(--cpsl-color-text-secondary),
  slideButton-end-text: var(--cpsl-color-text-inverted),
  // TABS
  tabs-border: var(--cpsl-color-background-16),
  tabs-background: var(--cpsl-color-background-4),
  tabs-slider-background: var(--cpsl-color-background-0),
  // ALERT
  alert-surface-error: #fee4e2,
  alert-border-error: #f97066,
  // SWITCH
  switch-surface-default: var(--cpsl-color-background-4),
  switch-surface-checked: var(--cpsl-color-foreground-0),
  switch-thumb-default: var(--cpsl-color-background-0),
  switch-thumb-checked: var(--cpsl-color-background-0),
  // CHECKBOX
  checkbox-surface-default: var(--cpsl-color-background-0),
  checkbox-surface-checked: var(--cpsl-color-foreground-0),
  checkbox-border-default: var(--cpsl-color-background-16),
  checkbox-border-checked: var(--cpsl-color-foreground-0),
  checkbox-icon: var(--cpsl-color-background-0),
  // RADIO
  radio-surface-default: var(--cpsl-color-background-0),
  radio-surface-checked: var(--cpsl-color-background-0),
  radio-border-default: var(--cpsl-color-background-16),
  radio-border-checked: var(--cpsl-color-foreground-0),
  // AVATAR
  avatar-surface: var(--cpsl-color-background-0),
  avatar-border: var(--cpsl-color-foreground-96),
  // CARD
  card-surface: var(--cpsl-color-background-0),
  card-border: var(--cpsl-color-background-16),
  // ICON GROUP
  iconGroup-surface: var(--cpsl-color-background-0),
  iconGroup-border: var(--cpsl-color-background-16),
  iconGroup-icon-disabled: var(--cpsl-color-text-disabled),
  iconGroup-icon-default: var(--cpsl-color-text-primary),
) !default;

$borderRadii: (
  input: 12px,
  select: 12px,
  file: 12px,
  alert: 12px,
  tabs: 1000px,
  primary-button: 12px,
  secondary-button: 12px,
  tertiary-button: 12px,
  destructive-button: 12px,
  tile-button: 12px,
  modal: 24px,
  pill: 1000px,
  qr-code: 20px,
  info-box: 16px,
  table-container: 24px,
  switch: 1000px,
  checkbox: 4px,
  radio: 1000px,
  avatar: 12px,
  card: 24px,
  button-group: 12px,
) !default;

$fontSizes: (
  body-2xs: 10px,
  body-xs: 12px,
  body-s: 14px,
  body-m: 16px,
  body-l: 20px,
  body-xl: 24px,
  heading-xs: 24px,
  heading-s: 32px,
  heading-m: 40px,
  heading-l: 56px,
  heading-xl: 64px,
  heading-2xl: 72px,
) !default;

$z-indices: (
  modal-no-overlay: 0,
  app-bar: 10000,
  overlay: 10001,
  drawer: 10004,
  modal: 10005,
  popover: 10006,
) !default;
