// Global Utility Functions
@import './capsule.functions.string';

// Global Color Functions
@import './capsule.functions.color';

// Global Font Functions
@import './capsule.functions.font';

// Global Mixins
@import './capsule.mixins';

// Default Theme
@import './capsule.theme.default';

// Default General
// --------------------------------------------------
$font-family-base: var(--cpsl-font-family, inherit) !default;
$font-size-base: var(--cpsl-font-size-base, 16px) !default;

// The minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries
$screen-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
